<!DOCTYPE html>
<html lang="th">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Activity</title>
  <link href="https://fonts.googleapis.com/css?family=Kanit:400,700&amp;subset=thai" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.1/fullcalendar.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.1/fullcalendar.print.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/common.css">
</head>

<body>
  <div class="wrapper">
    <% if (searched && isStudent) { %>
        <%- include('nav_bar', { location: 'student-info' }) %>
    <% } else { %>
        <%- include('nav_bar', { location: 'activity' }) %>
    <% } %>
    <div class="header-bar">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Activity</h1>
            <p>กิจกรรม</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <% if (searched && isStudent) { %>
          <%- include('search_student') %>
        <% } else { %>
          <div class="col-xs-12 col-md-4">
           <div class="search-box">
              <h3>Search</h3>
              <form method="GET" action="">
                <div class="form-group">
                  <label for="activity_name">Activity Name</label>
                  <input type="text" class="form-control" id="activity_name" name="activity_name" placeholder="e.g. Pushing the Payload">
                  <label for="activity_id">Activity ID</label>
                  <input type="text" class="form-control" id="activity_id" name="aid" placeholder="e.g. 00000000001">
                  <label for="activity_id">Activity Date</label>
                  <input type="text" class="form-control" id="activity_date" name="activity_date" placeholder="e.g. 05/03/2016">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
              </form>
           </div>
         </div>
        <% } %>
        <div class="col-xs-12 col-md-8">
          <div class="row">
            <% if (searched && isStudent) { %>
                <%- include('info_tab', { info: 'activity' }) %>
            <% } %>
            <div class="col-md-12">
              <!--<h2>Activity Calendar</h2>-->
              <div id='calendar'></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  

  <div class="container col-md-offset-1.5">
    <% if (searched) { %>  
        <h3>Search Result</h3>
        <% if (total === 0) { %>
          <p>There is no results.</p>
        <% } else if (type == 1){ %>
          <table class="table">
            <caption>Activities Attended By Student ID: <%= sid %></caption>
            <thead>
              <tr>
                <th>#</th>
                <th>Activity ID</th>
                <th>Activity Name</th>
                <th>Start Date</th>
                <th>Award</th>
                <th>Duration (hour)</th>
              </tr>
            </thead>
            <tbody>
              <% let totalDuration = 0 %>
              <% for (let i = 0; i < data.length; i++) { %>
              <tr>
                <th scope="row"><%= i + 1 %></th>
                <td><%= data[i].aid %></td>
                <td><%= data[i].name %></td>
                <td><%= moment(data[i].start_date).format('DD/MM/YYYY') %></td>
                <td><%= data[i].award %></td>
                <td><%= data[i].duration %></td>
                <% totalDuration += data[i].duration %>
              </tr>
              <% } %>
              <td></td><td></td><td></td><td></td><td></td>
              <td>Total: <%= totalDuration %></td>
            </tbody>
          </table>
          <p>Total: <%= total %> Activit<%= total > 1 ? 'ies' : 'y' %>.</p>
        <% } else { %>
          <table class="table">
            <caption>Activity ID: <%= aid %></caption>
            <thead>
              <tr>
                <th>#</th>
                <th>Activity ID</th>
                <th>Activity Name</th>
                <th>Start Date</th>
                <th>Duration (hour)</th>
                <th>Detail</th>
                <th>Attendees</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><%= 1 %></th>
                <td><%= data[0].aid %></td>
                <td><%= data[0].name %></td>
                <td><%= moment(data[0].start_date).format('DD/MM/YYYY') %></td>
                <td><%= data[0].duration %></td>
                <td><a data-toggle="modal" data-target="#fullDetail">Detail</a></td>
                
                <% let str = "" %>
                <% for (let i = 0; i < data.length; i++) { %>
                  <% str += data[i].sid + "<br>"; } %>
                    <td><a data-toggle="modal" data-target="#fullDetail"><%- str %></a></td>
              </tr>
            </tbody>
          </table>
          <p>Total: 1 Activity.</p>
          <% } %>
        <% } %>
  </div>
</div>

<div class="modal fade" id="fullDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Full Detail</h4>
      </div>
      <div class="modal-body">
        Full activity detail here.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <%- include('footer') %>
  <script src="/static/js/common.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.1/fullcalendar.min.js"></script>
  <script src="/static/js/activity.js"></script>
</body>

</html>
