<!DOCTYPE html>
<html lang="th">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Advisor</title>
  <link href="https://fonts.googleapis.com/css?family=Kanit:400,700&amp;subset=thai" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/common.css">
</head>

<body>
  <div class="wrapper">
    <%- include('nav-bar', { location: 'advisor' }) %>

    <div class="header-bar">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Advisor</h1>
            <p>อาจารย์ที่ปรึกษา</p>
            <p> </p>
            <p>อ.สมชาย ไม่สมหญิง</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">
      <table class="table">
        <h4>นิสิตในความดูแล</h4>
        <thead>
          <tr>
            <th>#</th>
            <th>รหัสนิสิต</th>
            <th>ชื่อ</th>
            <th>Name</th>
            <th>ปี</th>
            <th>สาขา</th>
            <th>GPAX</th>
            <th>คะแนนความประพฤติ</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < data.length; i++) { %>
            <tr>
              <th scope="row"><%= i + 1 %></th>
              <td><%= data[i].sid %></td>
              <td><%= data[i].fname_th + ' ' + data[i].lname_th %></td>
              <td><%= data[i].fname_en + ' ' + data[i].lname_en %></td>
              <td><%= new Date().getFullYear() - data[i].ent_year + Math.floor(new Date().getMonth()/12 + 4/12) %></td>
              <td><%= data[i].mid %></td>
              <td><%=Number(data[i].gpax + 0.001).toFixed(2) %></td>
              <td> 
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:<%= data[i].behav_score %>%">
                  </div>
                </div>   
              </td>
              <td><%=data[i].behav_score %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <p><b>ทั้งหมด:</b> <%= total %> คน</p>
      <br><br>
      <div class="col-xs-12 col-md-5">
        <table class="table">
          <h4>สถานะนิสิตทั้งหมด</h4>
          <thead>
            <tr>
              <th>ชั้นปั</th>
              <th>จำนวน</th>
              <th>ติดโปรต่ำ</th>
              <th>ติดโปรสูง</th>
              <th>ไม่เรียนในเทอมนี้</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>ปี 1</th>
              <td>51</td>
              <td>4</td>
              <td>2</td>
              <td>0</td>
            </tr>
            <tr>
              <th>ปี 2</th>
              <td>32</td>
              <td>1</td>
              <td>3</td>
              <td>0</td>
            </tr>
            <tr>
              <th>ปี 3</th>
              <td>31</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
            </tr>
            <tr>
              <th>ปี 4</th>
              <td>45</td>
              <td>0</td>
              <td>1</td>
              <td>0</td>
            </tr>
            <tr>
              <th>ปี 5+</th>
              <td>3</td>
              <td>1</td>
              <td>2</td>
              <td>0</td>
            </tr>
            <tr>
              <th>ทั้งหมด</th>
              <td>999</td>
              <td>6</td>
              <td>8</td>
              <td>2</td>
            </tr>
          </tbody>
        </table>  
      </div>

      <div class="col-xs-12 col-md-7">
          <table class="table">
          <h4>นิสิตที่ไม่สามารถมาเรียนได้</h4>
          <thead>
            <tr>
              <th>#</th>
              <th>รหัสนิสิต</th>
              <th>ชื่อ</th>
              <th>ตั้งแต่</th>
              <th>ถึงวันที่</th>
              <th>คำอธิบาย</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>1</th>
              <td>5731234521</td>
              <td>เสือเจมส์ โพไซดอน</td>
              <td>12/04/2017</td>
              <td>17/04/2017</td>
              <td>ลาหยุดสงกรานต์</td>
            </tr>
            <tr>
              <th>2</th>
              <td>5735432121</td>
              <td>ผู้ชายคนนี้ กำลังหมดแรง</td>
              <td>21/04/2017</td>
              <td>23/04/2017</td>
              <td>ขี้แตกเพราะแดกชากุหลาบ</td>
            </tr>   
          </tbody>
        </table>  
        <p><b>ทั้งหมด:</b> 2 คน</p>
      </div>
    </div>
  <%- include('footer') %>
  <script src="/static/js/common.js"></script>
</body>

</html>