<%- include('common/view_start', {
  title: 'Course',
  cssFiles: ['common'],
  externalCSSURLs: ['https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css'],
  navBarLocation: 'course'
}) %>

<%- include('common/header', {
  heading: 'Course',
  subheading: 'รายละเอียดแต่ละวิชา',
  breadcrumb: [
    'Course'
  ]
}) %>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="search-box">
        <h3>Search</h3>
        <form method="GET" action="">
          <div class="form-group">
              <label for="course_id">Course ID</label>
              <input type="text" class="form-control" id="course_id" name="cid" placeholder="e.g. 2110433">
              <label for="course_name">Course Name</label>
              <input type="text" class="form-control" id="shortname" name="shortname" placeholder="e.g. DB MGT ANALYSIS DESIGN">
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </div>
      <h3>Course List</h3>
      <div class="list-group">
        <a href="#" class="list-group-item active">2110422 DB MGT SYS DESIGN</a>
        <a href="#" class="list-group-item">2110332	SYS ANALYSIS DSGN</a>
        <a href="#" class="list-group-item">2110318 DIS SYS ESSEN</a>
        <a href="#" class="list-group-item">2110352	COMP SYS ARCH</a>
        <a href="#" class="list-group-item">2110355	FORM LANG/AUTO</a>
        <a href="#" class="list-group-item">2110422 DB MGT SYS DESIGN</a>
        <a href="#" class="list-group-item">2110332	SYS ANALYSIS DSGN</a>
        <a href="#" class="list-group-item">2110318 DIS SYS ESSEN</a>
        <a href="#" class="list-group-item">2110352	COMP SYS ARCH</a>
        <a href="#" class="list-group-item">2110355	FORM LANG/AUTO</a>
        <a href="#" class="list-group-item">2110422 DB MGT SYS DESIGN</a>
        <a href="#" class="list-group-item">2110332	SYS ANALYSIS DSGN</a>
        <a href="#" class="list-group-item">2110318 DIS SYS ESSEN</a>
        <a href="#" class="list-group-item">2110352	COMP SYS ARCH</a>
        <a href="#" class="list-group-item">2110355	FORM LANG/AUTO</a>
      </div>
    </div>
    <div class="col-md-8">
      <div class="col-xs-12">
        <h1>2110422 DB MGT SYS DESIGN</h1>
        <hr>
        <table class="table table-bordered">
            <tbody>
              <tr>
                <td class="course_title col-md-2"><b>วิชา</b></td>
                <td class="course_detail"><%= data[0].name_en %></td>
              </tr>
              <tr>
                <td class="course_title col-md-2"><b>วิชา (ไทย)</b></td>
                <td class="course_detail"><%= data[0].name_th %></td>
              </tr>
              <tr>
                <td class="course_title"><b>สังกัด</b></td>
                <td class="course_detail">คณะวิศวกรรมศาสตร์ (ภาควิชาวิศวกรรมคอมพิวเตอร์) Mock</td>
              </tr>
              <!-- <tr>
                <td class="course_title"><b>ผู้สอน</b></td>
                <td class="course_detail">ผศ. ดร. โปรดปราน บุณยพุกกณะ</td>
              </tr> -->
              <tr>
                <td class="course_title"><b>หน่วยกิต</b></td>
                <td class="course_detail"><%= data[0].credit %> (<%= data[0].subcredit_1 %>-<%= data[0].subcredit_2 %>-<%= data[0].subcredit_3 %>)</td>
              </tr>
              <tr>
                <td class="course_title"><b>วิชาที่ต้องเรียนมาก่อน</b></td>
                <td class="course_detail">2110200, 2110211 Mock</td>
              </tr>
              <tr>
                <td class="course_title"><b>รายละเอียดวิชา</b></td>
                <td class="course_detail"><%= data[0].course_detail %></td>
              </tr>
            </tbody>
        </table>
        <h4>เกรดของนิสิตที่เคยลงทะเบียนเรียน</h4>
        <canvas id="myChart" width="400" height="200"></canvas>
      </div>
    </div>
  </div>
</div>

<%- include('common/view_end', {
  jsFiles: ['course'],
  externalJSURLs: [
    'https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js',
    'https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js'
  ]
}) %>
