<%- include('common/view_start', {
  title: 'Information',
  cssFiles: [],
  externalCSSURLs: ['https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css'],
  navBarLocation: 'student-info'
}) %>

<%- include('common/header', {
  heading: 'Information',
  subheading: 'ข้อมูลของนิสิต'
}) %>

<div class="container">
  <div class="row">
  <%- include('search_student') %>
    <div class="col-md-8">
      <div class="row">
        <%- include('info_tab', { info: 'information' }) %>
          <div class="col-xs-12">
            <h2>ข้อมูลของนิสิต</h2>
            <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td class="info_title"><b>ชื่ออังกฤษ</b></td>
                    <td class="info_detail">Mr. Chanatip Saetia</td>
                  </tr>
                  <tr>
                    <td class="info_title"><b>ที่อยู่ (ไทย)</b></td>
                    <td class="info_detail">Addresssssssssssssssssssssssssssssssssss</td>
                  </tr>
                  <tr>
                    <td class="info_title"><b>ที่อยู่ (อังกฤษ)</b></td>
                    <td class="info_detail">Addresssssssssssssssssssssssssssssssssss</td>
                  </tr>
                  <tr>
                    <td class="info_title"><b>ชั้นปี</b></td>
                    <td class="info_detail">3 (ยังไม่จบการศึกษา)</td>
                  </tr>
                  <tr>
                    <td class="info_title"><b>ปีที่เข้า</b></td>
                    <td class="info_detail">2557</td>
                  </tr>
                  <tr>
                    <td class="info_title"><b>คะแนนความประพฤติ</b></td>
                    <td class="info_detail">100</td>
                  </tr>
                  <tr class="info_probation">
                    <td><b>ติดโปร</b></td>
                    <td>สูง</td>
                  </tr>
                </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
</div>

<%- include('common/view_end', {
  jsFiles: [],
  externalJSURLs: [
    'https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js',
    'https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js'
  ]
}) %>
