<!DOCTYPE html>
<html lang="th">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Student Info</title>
  <link href="https://fonts.googleapis.com/css?family=Kanit:400,700&amp;subset=thai" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/common.css">
</head>

<body>
  <div class="wrapper">
    <%- include('nav_bar', { location: 'student-info' }) %>

    <div class="header-bar">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Student Info</h1>
            <p>ข้อมูลของนักเรียน</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <%- include('search_student') %>
        <div class="col-xs-12 col-md-8 searched_block">
        <% if (searched) { %>
        <h3>Search Result</h3>
        <% if (total === 0) { %>
          <p>There is no student with</p>
          <% if (sid.length > 0) { %>
            <p>ID: <%= sid %></p>
          <% } if (sfname.length > 0) { %>
            <p>First Name: <%= sfname %></p>
          <% } if (slname.length > 0) { %>
            <p>Last Name: <%= slname %></p>
        <% } } else { %>
          <div class="table-responsive">
            <table class="table">
              <caption>Student with</caption>
              <% if (sid.length > 0) { %>
                <caption>ID: <%= sid %></caption>
              <% } if (sfname.length > 0) { %>
                <caption>First Name: <%= sfname %></caption>
              <% } if (slname.length > 0) { %>
                <caption>Last Name: <%= slname %></caption>
              <% } %>
              <thead>
                <tr>
                  <th>#</th>
                  <th>Student ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Year</th>
                  <th>Behavior Score</th>
                  <th>Enrollment</th>
                  <th>Activity</th>
                  <th>Full Info</th>
                </tr>
              </thead>
              <tbody>
                <% for (let i = 0; i < data.length; i++) { %>
                <tr>
                  <th scope="row"><%= i + 1 %></th>
                  <td><%= data[i].sid %></td>
                  <td><%= data[i].fname_en %></td>
                  <td><%= data[i].lname_en %></td>
                  <td><%= moment().year() - data[i].ent_year + 1 %></td>
                  <td><%= data[i].behav_score %>/100</td>
                  <td><a href = <%= "./enroll" %> >Enrollment</a></td>
                  <td><a href = <%= "./activity?isStudent=true&sid=" + data[i].sid + "&aid=" %> >Activity</a></td>
                  <td><a href = <%= "./student-info/full" %> >Click</a></td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <p>Total: <%= total %> row<%= total > 1 ? 's' : '' %>.</p>
          <% } %>
        <% } else {%>
          <p style="margin-top: 30px; color: #999; font-size: 1.2em;">Please search using the search form on the right.</p>
        <% } %>
        </div>
      </div>
    </div>
  </div>

  <%- include('footer') %>

  <script src="/static/js/common.js"></script>
</body>

</html>
