<!DOCTYPE html>
<html lang="th">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Student Info</title>
  <link href="https://fonts.googleapis.com/css?family=Kanit:400,700&amp;subset=thai" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/common.css">
</head>

<body>
  <div class="wrapper">
    <%- include('nav_bar', { location: 'student-info' }) %>

    <div class="header-bar">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Student Info</h1>
            <p>ข้อมูลของนักเรียน</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <h3>Search</h3>
          <form method="GET" action="">
            <div class="form-group">
              <label for="student_id">Student ID</label>
              <input type="text" class="form-control" id="student_id" name="sid" placeholder="e.g. 5730000021">
              <label for="student_first_name">First Name</label>
              <input type="text" class="form-control" id="student_first_name" name="sfname" placeholder="e.g. John">
              <label for="student_last_name">Last Name</label>
              <input type="text" class="form-control" id="student_last_name" name="slname" placeholder="e.g. Cena">

            </div>
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
        </div>
        <% if (searched) { %>
        <div class="col-xs-12 col-md-8">
        <h3>Search Result</h3>
        <% if (total === 0) { %>
          <p>There is no student with</p>
          <% if (sid.length > 0) { %>
            <p>ID: <%= sid %></p>
          <% } if (sfname.length > 0) { %>
            <p>First Name: <%= sfname %></p>
          <% } if (slname.length > 0) { %>
            <p>Last Name: <%= slname %></p>
        <% } } else { %>
          <table class="table">
            <caption>Student with ID <%= sid %></caption>
            <thead>
              <tr>
                <th>#</th>
                <th>Student ID</th>
                <th>First Name</th>
                <th>Last Name</th>
              </tr>
            </thead>
            <tbody>
              <% for (let i = 0; i < data.length; i++) { %>
              <tr>
                <th scope="row"><%= i + 1 %></th>
                <td><%= data[i].sid %></td>
                <td><%= data[i].fname_en %></td>
                <td><%= data[i].lname_en %></td>
              </tr>
              <% } %>
            </tbody>
          </table>
          <p>Total: <%= total %> row<%= total > 1 ? 's' : '' %>.</p>
          <% } %>
        </div>
        <% } %>
      </div>
    </div>
  </div>

  <%- include('footer') %>

  <script src="/static/js/common.js"></script>
</body>

</html>
